*{
    font - family: monospace
}.material - symbols - outlined {
    vertical - align: middle;
    font - size: 16 px
}
button.svelte - 14n e7g0 {
    display: block;font - weight: 700;cursor: pointer;border: none;margin: 0;text - align: left
}
canvas.svelte - q8hqiq {
    max - height: 200 px;
    width: 200 px;
    image - rendering: pixelated
}
td.svelte - jhhaud {
    padding: 2 px 4 px
}.view.svelte - jhhaud {
    display: inline - block;max - height: 200 px;overflow - y: scroll;border - collapse: collapse
}.offset.svelte - jhhaud {
    background - color: #d4d2d2
}.byte.svelte - jhhaud {
    background - color: #f6f6f6
}.type.svelte - aool3q {
    display: inline - block;width: 1.5 em;text - align: center;color: #00f;padding-right:1em}.name.svelte-aool3q{display:inline-block;min-width:8em}ul.svelte-29zri4{padding:.2em 0 0 .5em;margin:0 0 0 .5em;list-style:none;border-left:1px solid # eee
}
li.svelte - 29 zri4 {
    padding: .2 em 0
}
#overlay.svelte - 1 lmrwby {
    position: fixed;width: 100 % ;height: 100 % ;top: 0;left: 0;right: 0;bottom: 0;background - color: #FDF6E3;display: flex;align - items: center;justify - content: center
}
#overlay - box.svelte - 1 lmrwby {
    border: 1 px dashed black;height: 300 px;width: 350 px;border - radius: 5 px;display: flex;align - items: center;justify - content: center;flex - direction: column
}